# Busiest Flight Routes

In [1]:

import json
import pandas as pd
import matplotlib.pyplot as plt
import requests
import statistics

def median(numbers):
    return statistics.median(numbers) if len(numbers) else None

auth_header = {}

In [2]:
# TODO: Save your `API_KEY`, `API_SECRET` and `AUTH_URL`
API_KEY = 'HP5OK6W0pIATx1BjKAWYAwgb6wAkEJu0'
API_SECRET = 'AgoXIldYQz4FlplR'
AUTH_URL = 'https://test.api.amadeus.com/v1/security/oauth2/token'

In [3]:
request_auth = requests.post(
    AUTH_URL,
    data={
        'client_id': API_KEY,
        'client_secret': API_SECRET,
        'grant_type': 'client_credentials'
    }
)

In [4]:
auth_header['Authorization'] = 'Bearer ' + request_auth.json()["access_token"]
auth_header

{'Authorization': 'Bearer ZGxOai2AneWeF5kz061zClvIVjIV'}

## Loading Data

In [5]:
# Load `BusiestFlightRoutes.csv`
routes = pd.read_csv('BusiestFlightRoutes.csv')

In [6]:
routes.head()

,Airport 1,Airport 2,Distance (km),Number of Passengers in 2018,Number of Passengers in 2017,Type
0,CJU,GMP,449,14107414,13460306,Domestic
1,CTS,HND,835,9698639,8726502,Domestic
2,SYD,MLB,705,9245392,9090941,Domestic
3,FUK,HND,889,8762547,7864000,Domestic
4,BOM,DEL,1150,7392155,7129943,Domestic

In [7]:
routes.dtypes

Airport 1                       object
Airport 2                       object
Distance (km)                    int64
Number of Passengers in 2018     int64
Number of Passengers in 2017     int64
Type                            object
dtype: object

## Retrieving Price Data from the API

In [8]:
OFFERS_URL = 'https://test.api.amadeus.com/v2/shopping/flight-offers'
OFFERS_URL

'https://test.api.amadeus.com/v2/shopping/flight-offers'

###  Implement `get_current_offers` Function

In [9]:
def get_current_offers(origin, destination):
    
    params = {
        'originLocationCode': origin,
        'destinationLocationCode': destination,
        'departureDate': '2022-09-01',
        'adults': 1,
    }
    
    response = requests.get(OFFERS_URL, params=params, headers=auth_header)
    
    
    return response.json()['data']

In [10]:
# Test function on test values 
test_offers_data = get_current_offers(origin='LHR', destination='JFK')

In [11]:
# Print length of `offers_data`
len(test_offers_data)

166

In [12]:
# Print first element of `offers_data`
test_offers_data[0]

{'type': 'flight-offer',
 'id': '1',
 'source': 'GDS',
 'instantTicketingRequired': False,
 'nonHomogeneous': False,
 'oneWay': False,
 'lastTicketingDate': '2022-08-05',
 'numberOfBookableSeats': 9,
 'itineraries': [{'duration': 'PT13H45M',
   'segments': [{'departure': {'iataCode': 'LHR',
      'terminal': '2',
      'at': '2022-09-01T11:20:00'},
     'arrival': {'iataCode': 'LIS',
      'terminal': '1',
      'at': '2022-09-01T14:00:00'},
     'carrierCode': 'TP',
     'number': '1367',
     'aircraft': {'code': '32Q'},
     'operating': {'carrierCode': 'TP'},
     'duration': 'PT2H40M',
     'id': '208',
     'numberOfStops': 0,
     'blacklistedInEU': False},
    {'departure': {'iataCode': 'LIS',
      'terminal': '1',
      'at': '2022-09-01T17:10:00'},
     'arrival': {'iataCode': 'JFK',
      'terminal': '1',
      'at': '2022-09-01T20:05:00'},
     'carrierCode': 'TP',
     'number': '209',
     'aircraft': {'code': '339'},
     'operating': {'carrierCode': 'TP'},
     'duration': 'PT7H55M',
     'id': '209',
     'numberOfStops': 0,
     'blacklistedInEU': False}]}],
 'price': {'currency': 'EUR',
  'total': '459.39',
  'base': '205.00',
  'fees': [{'amount': '0.00', 'type': 'SUPPLIER'},
   {'amount': '0.00', 'type': 'TICKETING'}],
  'grandTotal': '459.39',
  'additionalServices': [{'amount': '75.00', 'type': 'CHECKED_BAGS'}]},
 'pricingOptions': {'fareType': ['PUBLISHED'],
  'includedCheckedBagsOnly': False},
 'validatingAirlineCodes': ['TP'],
 'travelerPricings': [{'travelerId': '1',
   'fareOption': 'STANDARD',
   'travelerType': 'ADULT',
   'price': {'currency': 'EUR', 'total': '459.39', 'base': '205.00'},
   'fareDetailsBySegment': [{'segmentId': '208',
     'cabin': 'ECONOMY',
     'fareBasis': 'KUKDSI0D',
     'class': 'K',
     'includedCheckedBags': {'quantity': 0}},
    {'segmentId': '209',
     'cabin': 'ECONOMY',
     'fareBasis': 'KUKDSI0D',
     'brandedFare': 'DISCOUNT',
     'class': 'K',
     'includedCheckedBags': {'quantity': 0}}]}]}

###  Computing Median of Current Offer Prices

In [13]:
def get_median_offer_price(list_of_offers):
    
    prices = []
    
    
    for offer in list_of_offers:
       
        price = float(offer['price']['grandTotal'])
        
        prices.append(price)
    
    
    return median(prices)

In [14]:
# Method 2
def get_median_offer_price(list_of_offers):
    prices = [float(offer['price']['grandTotal']) for offer in list_of_offers]
    return median(prices)

In [15]:
# Method 3
def get_median_offer_price(list_of_offers):
    return median([float(offer['price']['grandTotal']) for offer in list_of_offers])

#test `get_median_offer_price` by invoking it on the `test_offers_data` variable you fetched in the previous problem.

In [16]:
# Test by invoking on `offers_response`
get_median_offer_price(test_offers_data)

1831.95

### Fetching Required Data & Augmenting the `routes` DataFrame

In [17]:
current_median_prices = []

In [18]:
for (_, row) in routes.iterrows():

    origin = row['Airport 1']
    destination = row['Airport 2']
    
    
    current_offers = get_current_offers(origin, destination)
    
    
    median_offer_price = get_median_offer_price(current_offers)
    
    
    current_median_prices.append(median_offer_price)

In [19]:
routes['CurrentMedianPrice'] =  current_median_prices

In [20]:
# Print first 5 rows of `routes`
routes.head()

,Airport 1,Airport 2,Distance (km),Number of Passengers in 2018,Number of Passengers in 2017,Type,CurrentMedianPrice
0,CJU,GMP,449,14107414,13460306,Domestic,133.02
1,CTS,HND,835,9698639,8726502,Domestic,333.03
2,SYD,MLB,705,9245392,9090941,Domestic,1107.57
3,FUK,HND,889,8762547,7864000,Domestic,243.86
4,BOM,DEL,1150,7392155,7129943,Domestic,103.67

##  Analyzing Price Trends

###  Average Price of Domestic vs International Flights

In [21]:
# Compute mean `CurrentMedianPrice` on `Type` groups
routes.groupby('Type')['CurrentMedianPrice'].mean()

Type
Domestic         289.447179
International    483.066667
Name: CurrentMedianPrice, dtype: float64