# Analyzing Retail Purchases with Pandas

###  Load Transactions Data

In [1]:
import pandas as pd

filename = 'Transactions.csv'

In [2]:
transactions = pd.read_csv(filename)

In [3]:
# Print first 5 rows of `transactions`
transactions.head()

,InvoiceNo,InvoiceDate,CustomerID,StockCode,UnitPrice,QuantitySold,Description,QuantityRemaining
0,536365,12/1/2010 8:26,17850.0,85123A,2.55,6,WHITE HANGING HEART T-LIGHT HOLDER,3
1,536365,12/1/2010 8:26,17850.0,71053,3.39,6,WHITE METAL LANTERN,3
2,536365,12/1/2010 8:26,17850.0,84406B,2.75,8,CREAM CUPID HEARTS COAT HANGER,4
3,536365,12/1/2010 8:26,17850.0,84029G,3.39,6,KNITTED UNION FLAG HOT WATER BOTTLE,3
4,536365,12/1/2010 8:26,17850.0,84029E,3.39,6,RED WOOLLY HOTTIE WHITE HEART.,3

In [4]:
transactions.dtypes

InvoiceNo             object
InvoiceDate           object
CustomerID           float64
StockCode             object
UnitPrice            float64
QuantitySold           int64
Description           object
QuantityRemaining      int64
dtype: object

### Convert Type of `InvoiceDate` Column


print the following:

```
InvoiceNo              object
InvoiceDate    datetime64[ns]
CustomerID            float64
StockCode              object
UnitPrice             float64
Quantity                int64
Description            object
QuantityRemaining      int64
dtype: object
```

In [5]:
transactions.InvoiceDate = pd.to_datetime(transactions.InvoiceDate)

In [6]:
# Print datatypes of `transactions` DataFrame
transactions.dtypes

InvoiceNo                    object
InvoiceDate          datetime64[ns]
CustomerID                  float64
StockCode                    object
UnitPrice                   float64
QuantitySold                  int64
Description                  object
QuantityRemaining             int64
dtype: object

In [7]:
transactions.head()

,InvoiceNo,InvoiceDate,CustomerID,StockCode,UnitPrice,QuantitySold,Description,QuantityRemaining
0,536365,2010-12-01 08:26:00,17850.0,85123A,2.55,6,WHITE HANGING HEART T-LIGHT HOLDER,3
1,536365,2010-12-01 08:26:00,17850.0,71053,3.39,6,WHITE METAL LANTERN,3
2,536365,2010-12-01 08:26:00,17850.0,84406B,2.75,8,CREAM CUPID HEARTS COAT HANGER,4
3,536365,2010-12-01 08:26:00,17850.0,84029G,3.39,6,KNITTED UNION FLAG HOT WATER BOTTLE,3
4,536365,2010-12-01 08:26:00,17850.0,84029E,3.39,6,RED WOOLLY HOTTIE WHITE HEART.,3

### Problem 3: Fix Negative `QuantitySold` Values

In [8]:
# Print number of rows with `QuantitySold` less than 0
transactions.loc[transactions['QuantitySold'] < 0].count()

InvoiceNo            10624
InvoiceDate          10624
CustomerID            8905
StockCode            10624
UnitPrice            10624
QuantitySold         10624
Description           9762
QuantityRemaining    10624
dtype: int64

In [9]:
# Flip every negative element in `transactions.Quantity`
transactions.loc[transactions.QuantitySold < 0, 'QuantitySold'] = (
    -transactions.loc[transactions.QuantitySold < 0, 'QuantitySold']
)

In [10]:
# Print number of rows with `QuantitySold` less than 0
negative_quantities = transactions.loc[transactions['QuantitySold'] < 0]
negative_quantities.count()

InvoiceNo            0
InvoiceDate          0
CustomerID           0
StockCode            0
UnitPrice            0
QuantitySold         0
Description          0
QuantityRemaining    0
dtype: int64

###  Handling Missing Values

In [11]:
# Use `isna` and `sum` to determine if columns contain `None` values
pd.isna(transactions).sum()

InvoiceNo                 0
InvoiceDate               0
CustomerID           135080
StockCode                 0
UnitPrice                 0
QuantitySold              0
Description            1454
QuantityRemaining         0
dtype: int64

In [12]:
transactions.dropna(axis='rows', how='any', inplace=True)

In [13]:
pd.isna(transactions).sum()

InvoiceNo            0
InvoiceDate          0
CustomerID           0
StockCode            0
UnitPrice            0
QuantitySold         0
Description          0
QuantityRemaining    0
dtype: int64

### Problem 5: Removing Rows with `UnitPrice` of `0`

In [14]:
# Filter out all values in `UnitPrice` that are less than or equal to 0
negative_filter = transactions.UnitPrice <= 0

negative_filter.sum()

40

In [15]:
# Filter out all rows whose `UnitPrice` is GREATER than 0
positive_filter = transactions.UnitPrice > 0

In [16]:
# Set `transactions` equal to a `copy` of the rows in `transactions` that match the `positive_filter` condition
transactions = transactions.loc[positive_filter, :].copy()

In [17]:
# Filter out all values in `UnitPrice` that are less than or equal to 0
negative_filter = transactions.UnitPrice <= 0
negative_filter.sum()

0

### Problem 6: Selecting Only Data from 2011
Next, you will filter for _only_ data from 2011. Use a filter to set `transactions` equal to the subset of rows whose `InvoiceDate` occurs in 2011.

In [18]:
# Select rows from year `2011`
transactions = transactions[transactions['InvoiceDate'].dt.year == 2011]

# Part 2: Simple Analysis

### Compute Total Items Sold

In [19]:
# Find sum of `QuantitySold` column
transactions['QuantitySold'].sum()

5114437

### Compute Total Revenue

In [20]:
# Add `TotalPrice` column
transactions['TotalPrice'] = transactions['QuantitySold'] * transactions['UnitPrice']

In [21]:
# Compute sum of `TotalPrice`
transactions['TotalPrice'].sum()

8931926.233999997

### Number of Unique Items Sold

In [22]:
# Count unique `StockCode` entries
transactions['StockCode'].nunique()

3612

### Average Number of Orders per Customer

In [23]:
# Count number of unique customers
unique_customers = transactions['CustomerID'].nunique()

In [24]:
# Count number of unique invoices 
unique_invoices = transactions['InvoiceNo'].nunique()

In [25]:
# Compute average number of invoices per customer
unique_invoices / unique_customers

4.826302144708932

###  Average Value of Each Invoice

In [26]:
# Count number of unique invoices 
unique_invoices = transactions['InvoiceNo'].nunique()

In [27]:
# Total sales value
total_value = transactions['TotalPrice'].sum()

In [28]:
# Average value of each invoice
total_value / unique_invoices

436.1718055474166